#calculator {
    border: 1px solid rgb(154, 149, 149);
    width:200px;
    border-radius: 10px;
    height: 280px;
    justify-content: center;
}
#heading{
    color: darkblue;
}

#display{
    margin: 10px;
    width:85%;
    height: 30px;
}
.buttons-containers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}
.but{
    color:black;
    background-color:aliceblue;
    width: 50px;
    height: 30px;
    margin :2px
}